<div class="row text-center">
  <% if @user %>
    <h1>Hello <%= @user.username %></h1>
    <% @user.photos.each do |pic| %>
      <% if   pic.image.attached? %>
        <%= image_tag pic.image.variant(resize_to_fill: [200, 200, { gravity: 'North' }]), style: 'height: 100%;width: auto;' %>
        <p><%= pic.description %></p>
      <% end %>
    <% end %>
  <% else %>
    <% (0..1).each do |index| %>
      <% if @photos[index].image.attached? && !@photos[index].private %>
        <div class="col-1 p-0">
          <%= image_tag @photos[index].image, style: 'width: 100%;', class: "home_photo" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>