<h1 class="mt-5 text-center"><%= @user.username.capitalize %></h1>
<div class="row mt-5">
    <% @user.photos.each do |pic| %>
      <% if pic.image.attached? %>
        <div class="col-md-4 col-12">
          <%= image_tag pic.image, style: 'width: 100%;padding: 1rem' %>
          <p><%= pic.description %></p>
        </div>
      <% end %>
    <% end %>
</div>
