/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "rails_bootstrap_forms";

header {
  background-color: $indigo-200 !important;
}

.link {
  text-decoration: none;
  color: $indigo-500
}

$mynewcolor: $indigo-200;

.btn-primary {
    @include button-variant($indigo-200, $indigo-300, $hover-background: $indigo-300, $hover-border: $indigo-400, $active-background: $indigo-100, $active-border: $indigo-200);
}

// .btn-outline-primary {
//     @include button-outline-variant($mynewcolor, #222222, lighten($mynewcolor,5%), $mynewcolor);
// }

.home_photo {
  margin: 0;
  padding: 0;
}